@charset "utf-8";

body {
  background: #f5f5f5;
}
.container {
  padding: 4em;
  background: white;
  max-width: 1000px;
}
.contact-list {
  list-style-type: none;
  padding-left: 0;
}
#profile-image-container img {
  width: 100%;
  max-width: 150px;
  margin-bottom: 20px;
}
#profile-container {
  margin-bottom: 20px;
}
