---
#Add "layout: compress" here to compress the html code
---
<!DOCTYPE html>
<head>
  <title>{{ site.title }}</title>
  <meta charset="utf-8">

  <link rel="shortcut icon" href="/favicon.ico">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
</head>

<body>
  <div class="wrapper">
    {% assign sidebar = site.data.sidebar %}
    <div class="sidebar-wrapper">
      <div class="profile-container">
        <img class="avatar" src="{{ site.baseurl }}/assets/images/{{ sidebar.avatar }}" alt="profile picture" />

        {% if sidebar.name %}
        <h1 class="name">{{ sidebar.name }}</h1>
        {% endif %}

        {% if sidebar.tagline %}
        <h3 class="tagline">{{ sidebar.tagline }}</h3>
        {% endif %}
      </div><!--//profile-container-->

      <div class="contact-container">
        <ul class="contact-list">
          <li class="email"><i class="fa fa-envelope fa-lg fa-fw"></i>
            {{ sidebar.email }}
          </li>

          <li class="phone"><i class="fa fa-phone fa-lg fa-fw"></i>
            {{ sidebar.phone }}
          </li>

          <li class="google-scholar"><i class="fa fa-graduation-cap fa-lg fa-fw"></i>
            <a href="{{ sidebar.google-scholar }}" target="_blank">Google Scholar</a>
          </li>

          <li class="github"><i class="fa fa-github fa-lg fa-fw"></i>
            <a href="http://github.com/{{ sidebar.github }}" target="_blank">{{ sidebar.github }}</a>
          </li>

        </ul>
      </div><!--//contact-container-->
      {% if sidebar.address %}
      <div class="address">
        {{ sidebar.address | markdownify }}
      </div>
      {% endif %}
    </div><!--//sidebar-wrapper-->

    <div class="main-wrapper">
        {{ content }}
    </div>
  </div>
</body>

</html>

